*.iml
.gradle
.gradle_user_home
.idea
.kotlin
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/misc

.claude/
.vscode/
.agents/
skills-lock.json

release.jks
*.jks
*.keystore

testbot/build

log.txt
