<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application tools:targetApi="31">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
        <uses-library
            android:name="libcdsprpc.so"
            android:required="false"/>
        <service
            android:name="com.alibaba.mls.api.download.DownloadForegroundService"
            android:foregroundServiceType="dataSync" />

        <service
            android:name="com.alibaba.mnnllm.api.openai.service.OpenAIService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name="com.alibaba.mnnllm.api.openai.manager.ApiServiceActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.mnnllm.api.openai.STOP_SERVICE" />
                <action android:name="com.alibaba.mnnllm.api.openai.COPY_URL" />
                <action android:name="com.alibaba.mnnllm.api.openai.TEST_PAGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
